body {
    margin: 0;
    padding: 0;
}

.Home{
          color: #fff;
  text-shadow:
    0 0 5px rgb(182, 177, 177),
    0 0 10px rgb(179, 175, 175),
    0 0 20px rgb(177, 175, 175),
    0 0 40px rgb(188, 189, 189),
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px rgb(6, 168, 243);
    
}

.Pictures{
              color: #fff;
  text-shadow:
    0 0 5px rgb(182, 177, 177),
    0 0 10px rgb(179, 175, 175),
    0 0 20px rgb(177, 175, 175),
    0 0 40px rgb(188, 189, 189),
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px rgb(6, 168, 243);
}

.Contact{
              color: #fff;
  text-shadow:
    0 0 5px rgb(182, 177, 177),
    0 0 10px rgb(179, 175, 175),
    0 0 20px rgb(177, 175, 175),
    0 0 40px rgb(188, 189, 189),
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px rgb(6, 168, 243);
}

header {
    background-color:  black;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    color: rgb(253, 249, 249);
    text-transform: uppercase;
    text-align: center;
    box-sizing: inherit;
}

header .logo a {
   background-image: url("images/neoncircleshine.jpg");
   background-size: 300px;
   background-repeat: no-repeat;
   display: inline-block;
   height: 200px;
   width: 300px;
   position: relative;
   top: -10px; 
}

 .pic1:hover {
     width: 200px;
      height: 400px;
     }


  .pic2:hover {
     width: 200px;
      height: 400px;
      }

  .pic3:hover {
     width: 200px;
      height: 400px;
     }

#box {
    background-color: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.darkMode{
   background-color: black;
    
}

button{
    position: absolute;
    margin-left: 500px;
    margin-top: 300px;
    color: rgb(110, 107, 107);
    background-color: black;
    height: 40px;
    border-style: solid;
    border-color: rgb(58, 57, 57);
    border-radius: 6px;
    
    
    
}

button:hover{
    background-color: rgb(44, 43, 44);
}

.box figure {
    background-color:white;
     width: 300px;
     margin: auto;
     text-align: center;

    
}

.box figure img {
   width: 250px;
   border-radius: 10px;
   box-shadow: rgb(110, 107, 107) 10px 0px 10px


}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 20px;
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-left: 20px;
}

li:first-child {
    margin-left: 0;
}

li:hover {
    background-color: rgb(11, 44, 175);
}

a {
    text-decoration:none
}

/*a:hover {
    text-decoration-line: overline;
    text-decoration-color: rgb(180, 43, 112);
    text-decoration-style: dotted;
    text-decoration-thickness: 4px;
}
*/

section.box {
    display: flex;
    align-items: center;
}


section.box div{
   background-color: rgb(17, 17, 17); 
   width: 100%;
   margin: 1px;
}

 section.box2 div{
    background-color: rgb(17, 17, 17); 
    width: 100%;
    margin: 1px;
 }
 
 footer {
    background-color: black;
    padding: 10px 20px;
    color: black;
    background-color: rgb(1, 35, 51);
}

.email{
              color: #fff;
  text-shadow:
    0 0 5px rgb(146, 143, 143),
    0 0 10px rgb(143, 139, 139),
    0 0 20px rgb(177, 175, 175),
    0 0 40px rgb(188, 189, 189),
    0 0 80px rgb(113, 116, 116),
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px rgb(6, 168, 243);  
 position: absolute;
 content: "\2709";
 font-size: 50px;
 margin-left: 80px;
 margin-top: -50px;   
}

.email:hover{
  position: absolute;  
font-size: 45px;
}

.lowerSection{
    margin-top: 10px;
}


.linkHome{
    color: grey;
    transition: all 250ms ease;
    position: relative; 
}

.linkPictures{
 color: grey;   
}

.linkContact{
    color: grey;

}
